.result {
  display: none;
}

.highlight-active {
  background-color: blue;
}

table {
  width: 90%;
}

td {
  width: 33.33%;
  height: 100px;
  position: relative;
}

/*td:after {
  content: '';
  display: block;
  margin-top: 100%;
}*/

td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gold;
}

img {
    width: 60px;
    align-items: center;
    margin-left: 25px;
    /*height: 10px;*/
}

.square-table {
  width: 50%;
}

td:hover {
  background-color: #f8f8f8;
  color: white;
}
